@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
}

:root {
  --scrollbar-color-thumb: oklch(0.86 0 0);
  --scrollbar-color-thumb-hover: oklch(0.7 0 0);
  --scrollbar-color-track: transparent;
  --scrollbar-width: 8px;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --scrollbar-color-thumb: oklch(0.4 0 0);
  --scrollbar-color-thumb-hover: oklch(0.5 0 0);

  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  input[type="password"]::-webkit-password-reveal-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="password"]::-ms-reveal {
    display: none;
  }
}

@layer utilities {
  .main-chat-area {
    @apply w-4/5 max-w-[1024px];
  }

  .border-gradient {
    background-image: linear-gradient(var(--color-background), var(--color-background));
    background-clip: padding-box;
    background-origin: border-box;
    border: 1px solid var(--color-gray-100);
    transition: border-color 0.2s ease-in-out;

    &[data-active="true"] {
      background-image:
        linear-gradient(var(--color-background), var(--color-background)),
        linear-gradient(to bottom right, #ff7080, #3e88ff, #ff7080);
      background-clip: padding-box, border-box;
      border-color: transparent;
    }

    &:hover {
      background-image:
        linear-gradient(var(--color-background), var(--color-background)),
        linear-gradient(to bottom right, #ff7080, #3e88ff, #ff7080);
      background-clip: padding-box, border-box;
      border-color: transparent;
    }
  }

  .scroll-container {
    overflow-x: clip;
    overflow-y: hidden;
    scrollbar-gutter: stable both-edges;


    @supports (scrollbar-width: auto) {
      scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
      scrollbar-width: thin;
    }

    @supports selector(::-webkit-scrollbar) {
      &::-webkit-scrollbar {
        width: var(--scrollbar-width);
      }

      &::-webkit-scrollbar-track {
        background: var(--scrollbar-color-track);
        border-radius: calc(var(--scrollbar-width) * 2);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-color-thumb);
        border-radius: calc(var(--scrollbar-width) * 2);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-color-thumb-hover);
      }
    }

    &:is(:hover, :focus, :active) {
      overflow-y: auto;
    }
  }
}